-----
matplotlib==3.7.1
numpy==1.22.2
pandas==1.4.1
scipy==1.10.1
session_info==1.0.0
sklearn==1.2.2
xgboost==1.7.5
-----
IPython==8.0.1
jupyter_client==7.1.2
jupyter_core==4.9.1
jupyterlab==3.2.9
notebook==6.4.8